main {
  margin-left: 3.5em;
}

.navbar__logo {
  width: 40px;
  height: 40px;
}

.panel {
  width: 50px;
  height: 100vh;
  overflow-x: visible;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 70px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--nav-shadow);
  z-index: 99;
  transition: left .3s ease;
  background: var(--dark-color);
  box-sizing: border-box;
}

.panel__item-wrapper {
  position: relative;

  &:hover .panel__item-tooltip {
    background: cornflowerblue;
    left: 50px;
  }
}

.panel__item {
  width: 100%;
  max-height: 50px;
  height: 100%;
  text-align: center;
  margin-bottom: 10px;

  &:hover {
    background: cornflowerblue;
  }
}

.panel__item-tooltip {
  position: absolute;
  font-size: 12px;
  color: #ffffff;
  top: 0;
  left: 0;
  min-width: 70px;
  padding: 16px 15px;
  background: blue;
  transition: 0.3s;
}
